
body {
    margin: 0px;
    font-family: 'Roboto';
}
.board {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.board .row {
    display: flex;
    justify-content: center;
}
.board .cell {
    width: 100px;
    aspect-ratio: 1/1;
    position: relative;
    cursor: pointer;
}
.board .cell span {
    position: absolute;
    font-size: 14px;
    padding: 8px;
    color: rgba(0,0,0,.2);
}
.board .row:nth-child(odd) .cell:nth-child(odd), .board .row:nth-child(even) .cell:nth-child(even) {
    background: #efefef;
}
.board .row:nth-child(odd) .cell:nth-child(even), .board .row:nth-child(even) .cell:nth-child(odd) {
    background: #d3d3d3;
}
.chess-piece {
    align-items: center;
    justify-content: center;
    font-size: 48px;
    display: flex;
    height: 100%;
    cursor: pointer;
}
.chess-piece.team-0 i.mdi {
    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}
.chess-piece.team-1 i.mdi {
    color: #333;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.cell .possibleMove {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: #005cb9;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -5%;
    display: none;
}
.cell .possibleMove.show {
    display: block;
}
.select-promotion {
    position: absolute;
    display: flex;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    top: 0px;
}
.select-promotion.right {
    right: 0px;
}
.select-promotion.top {
    bottom: 0px;
    top: auto;
}
.select-promotion .chess-piece {
    padding: 12px;
}
.status-box {
    background: lightgray;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    padding: 4px;
    box-sizing: border-box;
}
.status-box.end {
    background-color: red;
    color: white;
}
.status-box.warning {
    background-color: orange;
}